{% extends 'base_rebeca.html' %}

{% block title %}create{% endblock title %}

{% block content %}

<br>

<div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6">
        <h3 class="text-center">Create Topic and Subscription</h3>
        <br>
        <form action="" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="topic" placeholder="Topic name" required>
            </div>

            <div class="form-group">
                <input class="form-control" type="text" name="subscription" placeholder="Subscription name" required>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>

<br>

{% if topic_created %}
<div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6">
        <div class="alert alert-success" role="alert">
            Topic <strong>{{ topic_created }}</strong> created !
        </div>
        <br>
        <div class="alert alert-success" role="alert">
            Subscription <strong>{{ subscription_created }}</strong> created !
        </div>
    </div>
</div>
{% endif %}

{% block script %}
{% endblock script %}

{% endblock content %}